[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
jinja2 = "*"
python-multipart = "*"
python-socketio = "*"
starlette = "*"
uvicorn = "*"
websockets = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
