.btn-narrow {
    padding-left: 6px;
    padding-right: 6px;
}

.table td {
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
}

.table th {
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
}